.page-header {
    background-color: #C25100;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 50px; /* Margin between posts */
    border: 2px solid #C25100; /* Border color */
    padding: 20px; /* Padding inside the post */
    border-radius: 10px; /* Rounded corners */
    background-color: #f2f2f2; /* Light grey background */
    color: #333; /* Dark grey text for readability */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
}

.post h2 a,
.post h2 a:visited {
    color: #C25100; /* Matching link color with the border */
    text-decoration: none;
}

.post h2 a:hover {
    text-decoration: underline;
}

.post > .date,
.post > .actions {
    float: right;
    font-style: italic;
    color: #999; /* Slightly gray color for date */
    margin-bottom: 15px;
}

.btn-secondary,
.btn-secondary:visited {
    color: #C25100;
    background: none;
    border-color: #C25100;
}

.btn-secondary:hover {
    color: #FFFFFF;
    background-color: #f0f8ff;
}
